@using Microsoft.AspNetCore.Identity
@using Chopiland.Models
@using Data
@using Services

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ICartAnouncementService cartAnouncementService
@inject IAnouncementService anouncementService

@if (SignInManager.IsSignedIn(User))
{
    var user = UserManager.GetUserAsync(User).Result;
    var shoppingCartAnouncements = cartAnouncementService.GetAll().ToList().Where(s => s.ShoppingCartId == user.Id);
    List<ItemCartViewModel> items = new List<ItemCartViewModel>();
    decimal totalPrice = 0;
    decimal price = 0;
    foreach (var item in shoppingCartAnouncements)
    {
        var anouncement = anouncementService.GetAnouncement(item.AnouncementId);
        if (anouncement.Offer)
        {
            price = anouncement.OfferPrice;
        }
        else
        {
            price = anouncement.Price;
        }
        var itemCart = new ItemCartViewModel
        {
            Id = anouncement.Id,
            ImageUrl = anouncement.ImageUrl,
            Price = price,
            AnouncementName = anouncement.AnouncementName,
            Amount = item.Quantity
        };
        items.Add(itemCart);
        totalPrice += price * item.Quantity;
    }
    var shoppingCartVm = new ShoppingCartViewModel { TotalPrice = totalPrice, Items = items };

    <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti js-show-cart" data-notify="@shoppingCartVm.Items.Count">
        <i class="zmdi zmdi-shopping-cart"></i>
    </div>

    <!-- Cart -->
    <div class="wrap-header-cart js-panel-cart">
        <div class="s-full js-hide-cart"></div>
        <div class="header-cart flex-col-l p-l-65 p-r-25">
            <div class="header-cart-title flex-w flex-sb-m p-b-8">
                <span class="mtext-103 cl2">
                    Your Cart
                </span>

                <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                    <i class="zmdi zmdi-close"></i>
                </div>
            </div>

            <div class="header-cart-content flex-w js-pscroll">
                <ul class="header-cart-wrapitem w-full">
                    @foreach (var item in shoppingCartVm.Items)
                    {
                        <li class="header-cart-item flex-w flex-t m-b-12">
                            <div class="header-cart-item-img">
                                <img src="@Url.Content(item.ImageUrl)"> 
                            </div>

                            <div class="header-cart-item-txt p-t-8">
                                <span class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                    @item.AnouncementName
                                </span>

                                <span class="header-cart-item-info">
                                    @item.Amount x $@item.Price
                                </span>
                            </div>
                        </li>
                    }                    
                </ul>

                <div class="w-full">
                    <div class="header-cart-total w-full p-tb-40">
                        Total: $@shoppingCartVm.TotalPrice
                    </div>

                    <div class="header-cart-buttons flex-w w-full">
                        <a asp-area="" asp-controller="ShoppingCart" asp-action="Index" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                            View Cart
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <a class="icon-header-item cl2 hov-cl1 trans-04 p-lr-11 icon-header-noti" data-notify="0" asp-area="" asp-controller="Account" asp-action="Login">
        <i class="zmdi zmdi-shopping-cart"></i>
    </a>
}