@using Microsoft.AspNetCore.Identity
@using Chopiland.Models
@using Data

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm" class="navbar-right">
        <ul class="main-menu">
            <li>
                <a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">@UserManager.GetUserName(User)!</a>
            </li>
            <li>
                <button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="main-menu">
        <li>
            <div class="icon-header-item cl2 hov-cl1 trans-04 p-lr-3">
                <i class="zmdi zmdi-account-circle"></i>
            </div>
            <ul class="sub-menu">
                <li><a asp-area="" asp-controller="Account" asp-action="Register" class="navbar-brand">Register</a></li>
                <li><a asp-area="" asp-controller="Account" asp-action="Login" class="navbar-brand">Log in</a></li>
            </ul>
        </li>
    </ul>
}
