@using Chopiland.Models

<form asp-action="DeleteProduct" role="form">
    @Html.Partial("_ModalHeader", new ModalHeader { Heading = "Delete Product" })

    <div class="modal-body">
        <p>Do you really want to delete @Model? This process cannot be undone.</p>
    </div>
    @Html.Partial("_ModalFooter", new ModalFooter { SubmitButtonText = "Delete" })
</form>

