@model AnouncementViewModel
@using Chopiland.Models
@{
    ViewData["Title"] = "Create";
}

<div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <form asp-action="AddAnouncement" role="form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 col-lg-7 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <div class="form-group">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 respon6-next">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <label asp-for="AnouncementName" class="control-label mtext-105 cl2 js-name-detail p-b-14"></label>
                                    <div class="bor8 bg0">
                                        <input asp-for="AnouncementName" class="form-control" />
                                        <span asp-validation-for="AnouncementName" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 respon6-next">
                                    <label asp-for="ProductName" class="control-label mtext-105 cl2 js-name-detail p-b-14"></label>
                                    <div class="rs1-select2 bor8 bg0">
                                        <select asp-for="ProductId" class="form-control js-select2" asp-items="@Model.ProductNameSL">
                                            <option value="">-- Choose a product --</option>
                                        </select>
                                        <div class="dropDownSelect2"></div>
                                        <span asp-validation-for="ProductName" class="text-danger" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 respon6-next">
                                    <label asp-for="Description" class="control-label mtext-105 cl2 js-name-detail p-b-14 "></label>
                                    <div class="bor8 bg0">
                                        <input asp-for="Description" class="form-control" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-5 p-b-30">
                    <div class="p-r-50 p-t-5 p-lr-0-lg">
                        <div class="form-group">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 respon6-next">
                                    <label asp-for="Price" class="control-label mtext-105 cl2 js-name-detail p-b-14 "></label>
                                    <div class="bor8 bg0">
                                        <input asp-for="Price" class="form-control" />
                                        <span asp-validation-for="Price" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="flex-w flex-r-m p-b-10">
                                <div class="size-204 respon6-next">
                                    <label asp-for="Amount" class="control-label mtext-105 cl2 js-name-detail p-b-14 "></label>
                                    <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                        <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-minus"></i>
                                        </div>
                                        <input asp-for="Amount" class="mtext-104 cl3 txt-center num-product" value="1">
                                        <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                            <i class="fs-16 zmdi zmdi-plus"></i>
                                        </div>
                                        <span asp-validation-for="Amount" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="flex-w flex-r-m p-b-10">                          
                                  <input type="file" value="" asp-for="ImageUrl" class="form-control "/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="flex-w flex-r-m">
                                <input type="submit" value="Create" class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04" />
                                <a asp-area="" asp-controller="Anouncement" asp-action="Index" class="flex-c-m btn btn-danger stext-101 cl0 size-101  bor1 hov-btn1 p-lr-15 trans-04">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}