@model OrderCompleteViewModel
@using Chopiland.Models
@{
    ViewData["Title"] = "Order Complete";
}
<head>
    <!-- Icomoon Icon Fonts-->
    <link rel="stylesheet" href="~/templates/store/css/icomoon.css">
    <!-- Theme style  -->
    <link rel="stylesheet" href="~/templates/store/css/style.css">
</head>

<div class="container">
    <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
        <div class="colorlib-shop">
            <div class="row">
                <div class="col-md-10 col-md-offset-4  text-center">
                    <span class="icon"><i class="icon-shopping-cart"></i></span>
                    <h2>Thank you for purchasing, Your order is complete</h2>
                    <p>
                        <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Home</a>
                        <a asp-controller="Anouncement" asp-action="Index" class="btn btn-primary btn-outline">Continue Shopping</a>
                    </p>
                </div>
            </div>
        </div>
   </div>
</div>

<div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm text-center">
    <h4 class="mtext-109 cl2 p-b-30 text-center">
        Receipt
    </h4>

    @foreach (var item in Model.Items)
    {
        <div class="flex-w flex-t bor12 p-t-15 p-b-30">
            <div class="size-208 w-full-ssm">
                <span class="stext-110 cl2">
                    @item.Amount X @item.AnouncementName
                </span>
            </div>
            <div class="mtext-113 cl2 text-right">
                $@(item.Price * item.Amount)
            </div>
        </div>
    }
        
    <div class="flex-w flex-t p-t-27 p-b-33">
        <div class="size-208">
            <span class="mtext-101 cl2">
                Total Amount:
            </span>
        </div>

        <div class="size-209 p-t-1">
            <span class="mtext-110 cl2 text-right">
                $@Model.TotalAmount
            </span>
        </div>
    </div>
    <div class="flex-w flex-t p-t-27 p-b-33">
        <div class="size-208">
            <span class="mtext-101 cl2">
                Cash:
            </span>
        </div>

        <div class="size-209 p-t-1">
            <span class="mtext-110 cl2 text-right">
                $@Model.Cash
            </span>
        </div>
    </div>
    <div class="flex-w flex-t p-t-27 p-b-33">
        <div class="size-208">
            <span class="mtext-101 cl2">
                Change:
            </span>
        </div>

        <div class="size-209 p-t-1">
            <span class="mtext-110 cl2 text-right">
                $@Model.Change
            </span>
        </div>
    </div>
</div>
